<section class="profile-header mt-3">
    <section class="flex justify-content-between w-full mt-3">
      <section class="w-full mt-3">
        <span class="profile-header__title">
          <img src="/assets/pet.png" />
          <div>
            <span class="text-xl text-bold">{{ user.name + ' ' + user.surname }}</span>
            <span class="profile-header__social">
              <span class="flex flex-column"
                ><h4 class="mb-1">2 года</h4>
                <span>опыта</span></span
              >
              <span class="flex flex-column"
                ><h4 class="mb-1">рейтинг 4.93</h4>
                <span>на основе <a href="feedback">отзывов</a></span></span
              >
              <span class="flex flex-column justify-content-center text-sm text-normal text-color-secondary">
                <i class="pi pi-star-fill text-center mb-1" style="color: #8A61FF"></i>
                <span>ачивка</span>
              </span>
            </span>
          </div>
        </span>
        <div class="mt-3 text-bold text-base">
          {{ service.serviceType }} 
        </div>
        <div class="mt-3 text-color-secondary text-sm">
          {{ service.message }} 
        </div>
      </section>
      <section class="card__request w-full flex flex-column align-items-end">
        <div>
          <p-toast></p-toast>
          <button pButton class="p-button" label="Отправить заявку" (click)="sendRequest(service.id)"></button>
        </div>
        <div class="text-bold text-base mt-4 text-right">Адрес исполнителя
          <br>
          <span class="text-sm text-color-secondary text-right">Вахитовский</span>
        </div>
        <div class="text-bold text-base mt-4 text-right">Выезд к клиенту
          <br>
          <span class="text-sm text-color-secondary text-right">{{ service.departure ? 'Да' : 'Нет' }}</span>
        </div>
      </section>
    </section>
</section>
