<section class="profile-main">
  <section class="profile-main__section">
    <h1 class="profile-main__section__header">
      Мои Питомцы
      <button
        pButton
        class="p-button-icon-only p-button-text p-button-rounded ml-2"
        icon="pi pi-plus"
        (click)="show()"
      ></button>
    </h1>
    <div class="profile-main__section__body">
      <card>
        <ng-template petTemplate="body-template">
          <h5 class="text-l">Шапка</h5>
          <span class="ellipsis">text1</span>
          <span>text2</span>
        </ng-template>
      </card>
      <card>
        <ng-template petTemplate="body-template">
          <h5 class="text-l">Шапка</h5>
          <span class="ellipsis">text1</span>
          <span>text2</span>
        </ng-template>
      </card>
      <card>
        <ng-template petTemplate="body-template">
          <h5 class="text-l">Шапка</h5>
          <span class="ellipsis">text1</span>
          <span>text2</span>
        </ng-template>
      </card>
      <card>
        <ng-template petTemplate="body-template">
          <h5 class="text-l">Шапка</h5>
          <span class="ellipsis">text1</span>
          <span>text2</span>
        </ng-template>
      </card>
      <card>
        <ng-template petTemplate="body-template">
          <h5 class="text-l">Шапка</h5>
          <span class="ellipsis">text1</span>
          <span>text2</span>
        </ng-template>
      </card>
    </div>
  </section>

  <section class="profile-main__section mt-6">
    <h1 class="profile-main__section__header">Услуги
    <button pButton class="p-button-icon-only p-button-text p-button-rounded ml-2" icon="pi pi-plus" (click)="openCreatingModal()"></button> </h1>
    <div class="profile-main__section__body">
      <card>
        <ng-template petTemplate="body-template">
          <h5 class="text-l">Шапка</h5>
          <span class="ellipsis">text1</span>
          <span>text2</span>
        </ng-template>
      </card>
    </div>
  </section>
</section>
