.card-shadow-neo{
  box-shadow: 3px 3px 7px 0px rgba(166, 173, 213, 0.4), 6px 6px 16px 0px rgba(166, 173, 213, 0.3), -8px -6px 15px 0px rgb(255, 255, 255);
    border-radius: 16px;
    padding: 24px;
}
