.p-grid{
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  height: 100%;
  overflow: hidden;
}

.main-section{
  padding: 80px;
  padding-top: 60px;
  position: relative;
}

.main-page{
  display: grid;
  grid-template-rows: min-content auto;
}
