<section class="w-full mt-4">
  <div class="flex align-items-center mr-3">
    <div class="text-bold text-l">Чипирование</div>
    <div>
      <button
        pButton
        class="p-button-icon-only p-button-text p-button-rounded"
        icon="pi pi-plus"
      ></button>
    </div>
  </div>
  <span>
    подтвердит вашу принадлежность к питомцу в случае его пропажи, позволит путешествовать с ним заграницу и участвовать в выставках.
  </span>
</section>

<section class="w-100 h-100">
  <div class="flex align-items-center mr-3 mt-3">
    <div class="text-bold text-l">Вакцинация</div>
    <div>
      <button
        pButton
        class="p-button-icon-only p-button-text p-button-rounded"
        icon="pi pi-plus"
      ></button>
    </div>
  </div>
  <div class="mt-1">
    <p-table
        #mtTable
        [columns]="tempCols"
        dataKey="id"
        [rows]="20"
        [showLoader]="false"
        class="transition-all transition-duration-400 transition-ease-in-out"
        [rowHover]="true"
      >
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length">
              Нет данных
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th class="text-sm font-normal text-secondary"
                *ngFor="let col of columns"
                [style]="col.thstyle"
                [pTooltip]="col.header"
                [class]="col.thclass"><span>{{col.header}}</span>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns"
                [style]="col.thstyle"
                [pTooltip]="rowData[col.field]"
                class="text-sm font-normal"><span>{{rowData[col.field] || '-'}}</span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody" let-columns>
          <tr *ngFor="let item of [0,1,2,3]">
            <td colspan="6">
              <p-skeleton></p-skeleton>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
</section>
<section class="w-full mt-4">
  <div class="flex align-items-center mr-3">
    <div class="text-bold text-l">Клинические обследования и процедуры</div>
    <div>
      <button
        pButton
        class="p-button-icon-only p-button-text p-button-rounded"
        icon="pi pi-plus"
      ></button>
    </div>
  </div>
  <span>
    Нет данных.
  </span>
</section>
