.write-message{
  background-color: #f2f2f2;
  padding: 10px;
  align-self: flex-end
}

.message-section {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  scroll-behavior: smooth;
  transition: all 0.5s ease-in-out;
}

.message-block {
  display: flex;
  flex-direction: column;
  position: relative;
}
