.main-page{
  display: grid;
  grid-template-columns: repeat(3, 20%);
  justify-content: space-around;
  align-items: center;

  &__card{
    height: 80vh;
    border-radius: 50px;
    background: #e3e3e3;
    box-shadow: -30px 30px 60px #c1c1c1,
                30px -30px 60px #ffffff;
  }

}
