<header></header>
<section class="main-section scroll w-100 h-screen">
  <section class="p-grid h-full">
    <section class="w-full flex flex-column h-full">
      <header>
        <div>
          <h4 style="font-size: 32px; font-weight: 700; margin-bottom: 20px;">Частные услуги</h4>
        </div>
        <span class="p-fluid">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText [(ngModel)]="value" />
          </span>
        </span>
      </header>
      <section class="flex flex-grow-1 w-full" style="background-color: tomato; max-height: 100%; overflow: scroll;">
        <section class="h-screen w-full">

        </section>
      </section>
    </section>
    <chat-profile></chat-profile>
  </section>
</section>
