<section class="profile-header">
  <span class="profile-header__title">
    <img src="/assets/pet.png" />
    <span class="text-xl text-bold">Екатерина Коваленко</span>
  </span>
  <span class="profile-header__social">
    <span class="flex flex-column"
      ><h4 class="mb-1">2 года</h4>
      <span>опыта</span></span
    >
    <span class="flex flex-column"
      ><h4 class="mb-1">рейтинг 4.93</h4>
      <span>на основе <a href="feedback">отзывов</a></span></span
    >
    <span class="flex flex-column"><i class="pi pi-star-fill"></i></span>
  </span>
  <span class="profile-header__personal-info mt-4">
    Дорогие друзья, предлагаю услуги грумера. Стрижка, купание, гигиенические
    процедуры, вычес, подрезание когтей, тримминг, экспресс-линька.Цена зависит
    от размера и породы вашей собачки.
  </span>
</section>
