.form {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    justify-content: center;
    align-items: center;
    height: 100%;
    &__login-button, &__registration-button {
        display: grid;
        justify-content: center;
    }

}

:host::ng-deep {
    .form__input {
        border-radius: 10px;
        border: none;
        background: #ffffff;
        box-shadow: inset -4px 4px 8px #dbdbdb,
                    inset 4px -4px 8px #ffffff;
    }
    input.p-inputtext.p-component.p-element.p-password-input {
        border-radius: 10px;
        border: none;
        background: #ffffff;
        box-shadow: inset -4px 4px 8px #dbdbdb,
                    inset 4px -4px 8px #ffffff;
    }
}