<section class="pet-info ">
  <section>
    <div>
      <button 
        pButton 
        class="p-button-text text-color-secondary" 
        label="Назад к профилю" 
        icon="pi pi-arrow-left"
        (click)="returnToProfile()"
      ></button>
    </div>
    <div class="flex  mt-4">
      <div class="mr-3" style="width: 60px; height: 60px;">
        <img [src]="pet.avatarUri">
      </div>
      <div>
        <div class="text-xl text-bold">{{ pet.name }}</div>
        <div>
          <button pButton class="p-button-text text-sm text-semibold p-button-sm" icon="pi pi-pencil" iconPos="left" label="редактировать профиль"></button>
        </div>
      </div>
    </div>
    <div class="pet-info__params">
      <div class="pet-info__param mt-3">
        <div>Порода: {{ pet.breed }}</div>
        <div>День рождения: {{ getPerBirthday(pet.dateOfBirth) }}</div>
        <div>Возраст: {{ getPetAge(pet.dateOfBirth) }}</div>
        <div class="mt-3">
          <div class="text-base text-bold">Пищевые привычки</div>
          <div class="text-base text-normal">корм Wellness Cat&Co</div>
        </div>
        <div class="mt-3">
          <div class="text-base text-bold">Особенности ухода</div>
          <div class="text-base text-normal">ECO-Premium с запахом персика</div>
        </div>
        <div class="mt-3">
          <div class="text-base text-bold">Вязка</div>
          <div class="text-base text-normal">Вы можете найти партнёра своему питомцу.</div>
          <div class="mt-3">
            <button
              pButton
              class="p-button-outlined p-button-icon"
              label="Искать партнера"
              style="color: #8A61FF"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="flex justify-content-center mb-3" style="max-width: 260px;">
    <div (click)="searchService(pet.type)">
        <div
        class="card flex justify-content-center align-items-center"
      >
        <span class="card__label ellipsis">Подобрать услуги</span>
      </div>
      <div
        class="card flex justify-content-center align-items-center mt-3"

      >
        <span class="card__label ellipsis">Записать в ветклинику</span>
      </div>
    </div>

  </section>
</section>
