.p-grid{
  display: grid;
  grid-template-columns: 9fr 3fr;
}

.main-section{
  padding: 80px;
  padding-top: 60px;
  overflow: scroll;
}

.main-page{
  display: grid;
  grid-template-rows: min-content auto;
}
