<header></header>
<section class="profile-main">
  <section class="profile-main__section">
    <h1 class="profile-main__section__header">
      Питомцы
    </h1>
    <div class="profile-main__section__body">
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
    </div>
  </section>

  <section class="profile-main__section mt-6">
    <h1 class="profile-main__section__header">
      Услуги
    </h1>
    <div class="profile-main__section__body">
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
    </div>
  </section>
</section>
