/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
@import "./styles/text-decorations.scss";
@import "./styles/blocks.scss";
@import "./styles/custom-styles.scss";
@import "./styles/scroll-neo.scss";

:root{
  --bg-primary: #f4f2f7;
}

body{
  transition: all 0.2s ease-in-out;
  background-color: var(--bg-primary);
}
